PORT=5001
NODE_ENV=development

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/Smart-Service-Center-App
MONGODB_LOCAL_URI=mongodb://127.0.0.1:27017/Smart-Service-Center-App
MONGODB_DB_NAME=Smart-Service-Center-App

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# Other configurations
API_VERSION=v1
